/* Navbar */
.navbar {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    padding: 1rem 2.5rem;
    background-color: #706F6F;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #000;
    transform: translateY(-2px);
    cursor: pointer;
}
