/* Navbar */
.navbar {
    display: flex;
    gap: 3.5rem;
    justify-content: flex-end;
    padding: 1.5rem 2.5rem;
}

.navbar a {
    color: #000;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #fff;
    transform: translateY(-2px);
    cursor: pointer;
}
