/* Navigation */
.navbar {
  position: absolute;
  display: flex;
  margin-bottom: 750px;
  margin-left: 400px;
}

.section-btn {
  background: rgba(20, 69, 82, 1);
  color: white;
  border: none;
  padding: 10px 30px;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 70;
  transition: all 0.3s ease;
  /*text-transform: inherit;*/
}

.section-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(102, 234, 223, 0.6);
}

.section-btn:active {
  transform: translateY(-1px);
}