/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    height: 120%;
    overflow-x: hidden;
    background: linear-gradient(#272640 0%, #11101C 80%, #07070D 100%);
}